div(block='table' mod={header:true})
    div(elem='row')
        div(elem='cell')
            span(showText) Full Name
        div(elem='cell')
            span(showText) Email
        div(elem='cell')
            span(showText) ID
        div(elem='cell')
            span(showText) Domain
        div(elem='cell')
            span(showText) Plan
        div(elem='cell')
            span(showText) Expiry

div(block='table')
    div(elem='row')
        div(elem='cell')
            a(href='#' showText) Michel Bay
        div(elem='cell')
            span(showText) jacobson_gregoria@yahoo.com
        div(elem='cell')
            a(href='#' showText) 4785634
        div(elem='cell')
            a(href='#' showText) fivemillionpixels.com
        div(elem='cell')
            span(showText)= 'Business'
        div(elem='cell')
            span(showText)= '14 Mar, 2019'
    div(elem='row')
        div(elem='cell')
            a(href='#' showText) Michel Bay
        div(elem='cell')
            span(showText) jacobson_gregoria@yahoo.com
        div(elem='cell')
            a(href='#' showText) 4785634
        div(elem='cell')
            a(href='#' showText) fivemillionpixels.com
        div(elem='cell')
            span(showText)= 'Business'
        div(elem='cell')
            span(showText)= '14 Mar, 2019'
    div(elem='row')
        div(elem='cell')
            a(href='#' showText) Michel Bay
        div(elem='cell')
            span(showText) jacobson_gregoria@yahoo.com
        div(elem='cell')
            a(href='#' showText) 4785634
        div(elem='cell')
            a(href='#' showText) fivemillionpixels.com
        div(elem='cell')
            span(showText)= 'Business'
        div(elem='cell')
            span(showText)= '14 Mar, 2019'