mixin list_item(data)
    li(
        key= data.get('id')
    )
        span(
            showText

        )= data.get('text')

nav(role='navigation', block='className')
    div(block='otherClassName')
        div(
            elem= 'cat',
            mod= {
                size: true
            }
        )
            span(showText)= 'Text 1'

        div(
            elem= 'cat',
            mod= {
                size: 'big'
            }
        )
            if(state != null)
                #{state.components.Link}(
                    to="/bar"
                )
                    span(showText)= 'hjkghjk'

        div(
            elem= 'cat',
            mod= {
                size: 'big',
                color: 'pink'
            }
        )
            span(showText)= 'hjkghjk'

    ul
        - props.todos.map(function(todo){
            +list_item(todo)
        - })
