mixin list_item(data)
    li(
        key= data.id
    )
        span(
            showText

        )= data.text

nav(role='navigation', block='className')
    div(block='otherClassName')
        div(
            elem= 'cat',
            mod= {
                size: true
            }
        )
            span(showText)= 'Text 1'

        div(
            elem= 'cat',
            mod= {
                size: 'big'
            }
        )
            if(state != null)
                #{state.components.Link}(
                    to="/bar"
                )
                    span(showText)= 'hjkghjk'

        div(
            elem= 'cat',
            mod= {
                size: 'big',
                color: 'pink'
            }
        )
            span(showText)= 'hjkghjk'

    ul
        if(props.todos.length)
            each item in props.todos
                +list_item(item)
